In [5]:
import pandas as pd
from plotting import CandlePlot
pd.set_option("display.max_columns", None)

In [2]:
df_ma_res = pd.read_pickle("../data/ma_res.pkl")
df_ma_trades = pd.read_pickle("../data/ma_trades.pkl")

In [8]:
df_ma_res['granularity'].unique()

array(['H1', 'H4'], dtype=object)

In [10]:
df_ma_res_h1 = df_ma_res[df_ma_res['granularity'] == "H1"].copy()
df_ma_trades_h1 = df_ma_trades[df_ma_trades['granularity'] == "H1"].copy()

In [11]:
df_ma_res_h1.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'ma_l', 'ma_s', 'cross', 'granularity'],
      dtype='object')

In [ ]:
df_cross_summary = df_ma_res_h1[['pair', 'num_trades', 'total_gain','cross']].copy()

In [14]:
df_cross_summary.head(4)

      pair  num_trades  total_gain        cross
0  EUR_USD         205         290  MA_10_MA_20
1  EUR_USD         105         243  MA_10_MA_40
2  EUR_USD         105        -126  MA_20_MA_40
3  EUR_USD         110        -372  MA_30_MA_40

In [19]:
df_cross_gr = df_cross_summary.groupby(by=['cross'], as_index=False).sum()
df_cross_gr.sort_values(by='total_gain', ascending=False, inplace=True)
df_cross_gr.head(4)

           cross                   pair  num_trades  total_gain
1   MA_10_MA_150  EUR_USDEUR_GBPGBP_USD         137        1033
0   MA_10_MA_120  EUR_USDEUR_GBPGBP_USD         151         766
10  MA_30_MA_150  EUR_USDEUR_GBPGBP_USD          89         377
3    MA_10_MA_40  EUR_USDEUR_GBPGBP_USD         353         256

In [ ]:
df_ma_res_h1[]